<% include ../layout/header.ejs %>
<div class="container">
    <%- messages('message', locals) %>
    <% if(locals.msg_err){ %>
    <div class="alert alert-danger">
        <%= msg_err %>
    </div>
    <% } %>

    <div class="form-group col-md-offset-4 ajouter">

        <form action="/rapports/add" method="get">

            <input class='btn btn-success' style="..." type="submit" id="btn_add" value="Ajouter mon rapport de stage"
                   data-toggle="modal">

        </form>

    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Liste des Rapports de Stage de fin d'études</h4>
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                    <th><input type="checkbox" id="checkall"/></th>
                    <th>Titre</th>
                    <th>Document</th>
                    <th>Propriétaire</th>
                    <th>E-mail du Propriétaire</th>
                    </thead>
                    <tbody>

                    <% for(rapport of rapports) { %>
                    <tr>
                        <td></td>
                        <td><%= rapport.RAPPORTNAME %></td>
                        <td><a href="/uploads/<%= rapport.RAPPORTDOC %>">Télécharger</a></td>
                        <td>
                            <% for(usr of users) { if(usr.USERID === rapport.USERID) { %>
                            <%= usr.USERSURNAME + ' ' + usr.USERNAME %>
                            <% }} %>
                        </td>
                        <td><%= rapport.USEREMAIL %></td>
                        <td><a href="/rapports/edit/<%= rapport.RAPPORTID %>"><span
                                        class="glyphicon glyphicon-pencil"></span></span></a>
                        </td>
                        <td>
                            <% var doc = rapport.RAPPORTDOC.toString().length === 0 ? 'sansFichier' : rapport.RAPPORTDOC %>
                            <a onclick="deleteArticle(<%= rapport.RAPPORTID %>,'<%= doc %>')" href="#"><span
                                        class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                    <% } %>
                    </tbody>

                </table>

                <div class="clearfix"></div>
                <ul class="pagination pull-right">
                    <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                </ul>

            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    function deleteArticle(id, doc) {
        console.log("/rapports/delete/" + id + "/" + doc);
        if (confirm('Voulez vous vraiment supprimer ce rapport ?')) {

            window.location.href = "/rapports/delete/" + id + "/" + doc;

        }

    }
</script>
<% include ../layout/footer %>