<% include ../layout/header.ejs  %>
<div class="container">
<%- messages('message', locals) %>

<div class="row">
    <div class="col-md-12 text-center ajouter" style="color: #ffffff">
        <button  class='btn btn-success btn-lg' style="width:30%; margin-top:5%; margin-left:12%;">
            <a  style="color: #ffffff" href="/articles/add/<%= la_categorie[0].CATEGORYID%>"> Ajouter un article :   <%= la_categorie[0].CATEGORYNAME  %></a>
        </button>

    </div>
</div>
<div class="row">
        <div class="col-md-12">
        <h4><%= 'Liste des '+la_categorie[0].CATEGORYNAME%></h4>
        <div class="table-responsive">
              <table id="mytable" class="table table-bordred table-striped">
                  <thead>
                      <th><input type="checkbox" id="checkall" /></th>
                      <th>Titre</th>
                      <th>Modifier</th>
                      <th>Supprimer</th>
                  </thead>
                <tbody>

                     <%  for(article of articles) { %>
                        <tr>
                        <td></td>
                        <td><%= article.ARTICLENAME %></td>
                         <td><a href="/articles/edit/<%= article.ARTICLEID %>"><span class="glyphicon glyphicon-pencil"></span></span></a></td>
                      <td>
                          <% var doc=article.ARTICLEDOC.toString().length===0 ? 'sansFichier':article.ARTICLEDOC %>
                        <a onclick="deleteArticle(<%= article.ARTICLEID %>,'<%= doc %>',<%= la_categorie[0].CATEGORYID %>)" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                      </td>
                        </tr>
                     <%  } %>
                </tbody>

            </table>

<div class="clearfix"></div>
<ul class="pagination pull-right">
  <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
</ul>

            </div>

        </div>
	</div>
</div>



    <script type="text/javascript">
        function deleteArticle(id,doc, catId){
            console.log("/articles/delete/"+id+"/"+doc);
            if(confirm('Voulez vous vraiment supprimer cet article ?')){

               window.location.href="/articles/delete/"+id+"/"+doc+"/"+catId;

            }

        }
    </script>
<% include ../layout/footer  %>