<% include inc/top.ejs %>
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">Offres >>
                    <% if(la_categorie){ %>
                    <a href="/offres/<%= la_categorie[0].CATEGORYID%>" style="color: #ffffff" title="Liste des offres : <%= la_categorie[0].CATEGORYNAME %> "> <%= la_categorie[0].CATEGORYNAME %></a>
                    <% } %>
                </h2>
            </div>

        </div>
    </div>
</section>
<section id="content">
    <div class="container content" style="min-height: 432px;">

        <!-- Info Blcoks -->
        <div class="row">
            <div class="col-sm-12 info-blocks">
                <div class="info-blocks-in">
                    <% if(locals.msg_err){ %>
                    <div class="alert alert-danger" id="msg" >
                        <%= msg_err %>
                    </div>
                    <% } %>
                    <form name="sentMessage" id="contactForm" enctype="multipart/form-data" method="post" action="/offres/doEdit">
                        <h2 class="pageTitle" style="color: #ef801a !important; margin-bottom: 15px;">Modifier Une Offre</h3>
                            <input type="hidden" class="form-control" value="<% if(offre){for(elem of offre){ %><%= elem.USERID %><%}} %>" name="USERID" id="user"/>
                            <input type="hidden" class="form-control" value="<% if(offre){for(elem of offre){ %><%= elem.ARTICLEID %><%}} %>" name="ARTICLEID" id="idart"/>
                            <input type="hidden" class="form-control" value="<% if(offre){for(elem of offre){ %><%= elem.CATEGORYID %><%}} %>" name="CATEGORYID" id="cat"/>

                            <div class="control-group">
                            <div class="controls">
                                <label for="titre" class="cols-sm-2 control-label">Titre</label>
                                <input type="text" class="form-control" name="ARTICLENAME" value="<% if(offre){ for(elem of offre){%><%= elem.ARTICLENAME %><% }} %>"
                                       placeholder="titre de l'offre" id="titre" required
                                       data-validation-required-message="Entrer le titre de l'offre svp!"/>
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <label for="contenu" class="cols-sm-2 control-label">Contenu</label>
				            <textarea rows="10" cols="100" class="form-control" name="ARTICLEDESC"
                                      placeholder="Ecrire un descriptif de l'offre" id="message"
                                      data-validation-required-message="Ecrire un descriptif de l'offre svp" ><% if(offre){for(elem of offre){ %><%= elem.ARTICLEDESC %><% }} %></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label for="doc" class="cols-sm-2 control-label">Fichier</label>
                                <input type="file" class="form-control" id="doc" name="ARTICLEDOC" />
                                <input type="hidden" class="form-control" value="<% if(offre){for(elem of offre){ %><%= elem.ARTICLEDOC %><%}} %>" name="ARTICLEDOCNAME" id="idart"/>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div id="success"></div> <!-- For success/fail messages -->
                        <button type="submit" class="btn btn-primary pull-right">Modifier</button>
                        <br/>
                    </form>


                </div>
            </div>

        </div>

    </div>
</section>
<% include inc/bottom.ejs %>