<% include inc/top.ejs %>
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="pageTitle">Offres >>
                    <% if(la_categorie){ %>
                    <%= la_categorie[0].CATEGORYNAME %>
                    <% } %>
                </h2>
            </div>
            <div class="col-lg-4">
                <h2 class="pageTitle"><a href="/offres/add/<%= la_categorie[0].CATEGORYID%>" style="color: #ffffff">Ajouter une Offre</a></h2>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container content" style="min-height: 432px;">

        <!-- Info Blcoks -->
        <div class="row">
            <% if(offres){for(offre of offres){%>
            <div class="col-sm-12 info-blocks">
                <div class="info-blocks-in">
                    <h3><%= offre.ARTICLENAME %>
                        <% if(offre.USERID===idUser){%>
                        <a href="/offres/edit/<%= offre.ARTICLEID %>/<%= offre.CATEGORYID %>"><span class="glyphicon glyphicon-pencil"></span></span></a> </h3>
                    <%}%>
                    <p>
                        <%= offre.ARTICLEDESC.substring(0,200) %>
                    </p>
                    <p><a href="/offres/detail/<%= offre.ARTICLEID %>/<%= offre.CATEGORYID %>" class="lireplus pull-right">Details +</a></p>
                </div>
            </div>
            <%}}%>

        </div>

    </div>
</section>
<% include inc/bottom.ejs %>