<% include inc/top.ejs %>
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="pageTitle">Rapports de stage de fin d'études
                </h2>
            </div>

        </div>
    </div>
</section>
<section id="content">
    <div class="container content" style="min-height: 432px;">
        <%- messages('message', locals) %>
        <% if(locals.msg_err){ %>
        <div class="alert alert-danger">
            <%= msg_err %>
        </div>
        <% } %>
        <!-- Info Blcoks -->
        <div class="row">
            <div class="col-sm-12 info-blocks">

                <div class="info-blocks-in">
                    <% if(role === 'PROFESSEUR' || role === 'MODERATEUR' || role === 'ETUDIANT'){ %>
                    <% if(role === 'PROFESSEUR' || role === 'MODERATEUR'){ %>
                    <table id="mytable" class="table table-bordred table-striped table-hover table-responsive">
                        <thead>
                        <th>Titre</th>
                        <th>Document</th>
                        <th>Propriétaire</th>
                        <th>E-mail du Propriétaire</th>
                        </thead>
                        <tbody>
                        <% for(rapport of rapports) { %>
                        <tr>
                            <td><%= rapport.RAPPORTNAME %></td>
                            <td><a href="/uploads/<%= rapport.RAPPORTDOC %>" target="_blank">Télécharger</a></td>
                            <td> <% for(usr of users) { if(usr.USERID === rapport.USERID) { %>
                           <%= usr.USERSURNAME + ' ' + usr.USERNAME %>
                            <% }} %>
                        </td>
                            <td><%= rapport.USEREMAIL %></td>

                        </tr>
                        <% } %>
                        </tbody>

                    </table>
                    <% } %>
                    <% if(role === 'ETUDIANT' && mon_rapport.length !== 0){ %>
                    <h4>MON RAPPORT DE STAGE DE FIN D'ETUDES</h4>
                    <div class="row">
                        <div class="col-lg-6"><%= mon_rapport[0].RAPPORTNAME %></div>
                        <div class="col-lg-3">
                            <a href="/rapportStages/edit/<%= mon_rapport[0].RAPPORTID %>"><span
                                        class="glyphicon glyphicon-pencil"></span></span></a>
                        </div>
                        <div class="col-lg-3"><a href="/uploads/<%= mon_rapport[0].RAPPORTDOC %>" target="_blank">Télécharger</a></div>


                    </div>
                    <% }else if(role === 'ETUDIANT' && mon_rapport.length === 0) {%>
                       <div row>
                           <div class="col-lg-12">
                                   <p>Vous n'avez pas encore déposer votre rapport de stage de fin d'études.
                                       Pour deposer votre rapport cliquer <i class="fa fa-hand-o-right"></i><a href="/rapportStages/add" class="btn" style="color: #ffffff"> Ajouter mon rapport</a></p>

                           </div>
                       </div>
                    <%}}else{ %>
                    Vous devez être un étudiant ou un professeur pour acceder à ce contenu
                    <% } %>
                </div>
            </div>

        </div>

    </div>
</section>
<% include inc/bottom.ejs %>