<% include ../layout/header.ejs  %>
    <div class="container">
        <%- messages('message', locals) %>

            <div class="form-group col-md-offset-4 ajouter">
                <form action="/company/create" method="get">
                    <input class='btn btn-success' style="width:30%; margin-top:5%; margin-left:12%;" type="submit" value="Ajouter une compagnie" data-toggle="modal">
            </div>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <h4>Liste des compagnies</h4>
                    <div class="table-responsive">
                        <table id="mytable" class="table table-bordred table-striped">
                            <thead>
                                <th>
                                    <input type="checkbox" id="checkall" />
                                </th>
                                <th>Nom de la compagnie</th>
                                <th>Description de la compagnie</th>
								<th>Modifier</th>
                                <th>Supprimer</th>
                            </thead>
                            <tbody>

                                <%  for(comp of comp) { %>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <%= comp.COMPANYNAME %>
                                        </td>
										<td>
                                            <%= comp.COMPANYDESC %>
                                        </td>
                                        <td>
                                            <a href="/company/edit/<%= comp.USERID %>">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a onclick="return confirm('Voulez vous vraiment supprimer ?'); " href="/company/delete/<%= comp.USERID %>">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    <%  } %>
                            </tbody>

                        </table>

                        <div class="clearfix"></div>
                        <ul class="pagination pull-right">
                            <li class="disabled">
                                <a href="#">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                            </li>
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
    </div>

    <!-- /.modal-dialog -->
    </div>

    <% include ../layout/footer  %>