<% include ../front/inc/top.ejs%>


<div class="container">
    <div class="row">
    <div class="col-md-5  toppad  pull-right col-md-offset-3 ">

<p class=" text-info"></p>
    </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><%=  nom+"  "+prenom %></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3 col-lg-3 " align="center"><img alt="User Pic" src="/images/profile.png" class="img-circle img-responsive"> </div>
              <div class=" col-md-9 col-lg-9 ">
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td>entreprise :</td>
                      <td><%= alumni.USERCOMPANY %></td>
                    </tr>
                    <tr>
                      <td>Fonction :</td>
                      <td><%= alumni.USERFUNCTION %></td>
                    </tr>
                    <tr>
                      <td>Date d'embauche :</td>
                      <td><%= alumni.USERHIRINGYEAR.getFullYear()+' - '+alumni.USERHIRINGYEAR.getUTCMonth() +' - '+ alumni.USERHIRINGYEAR.getDay() %></td>
                    </tr>

                    <tr>
                    <tr>
                      <td>Salaire :</td>
                      <td><%= alumni.USERSALARY %> €</td>
                    </tr>
                    <tr>
                      <td>Promotion :</td>
                      <td><%= alumni.USERGRADYEAR.getDate() %></td>
                    </tr>
                      <td>Date de Premier embauche :</td>
                      <td><%= alumni.USERFIRSTHIRINGYEAR.getFullYear()+' - '+alumni.USERHIRINGYEAR.getUTCMonth() +' - '+ alumni.USERHIRINGYEAR.getDay() %></td>
                    </tr>
                  </tbody>
                </table>
                <a href="/users/edit/" class="btn btn-primary">Modifier mon profile</a>
                <a href="/users/monEntreprise/" class="btn btn-primary">Infos d'entreprise </a>
              </div>
            </div>
          </div>
               <div class="panel-footer">
                      <span class="pull-right">
                      </span>
                  </div>
        </div>
      </div>
    </div>
  </div>
<% include ../front/inc/bottom.ejs  %>