<% include ../layout/header.ejs  %>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">

<p class=" text-info"><%= new Date() %> </p>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
            <% if (isAuthenticated){ %>
              <h3 class="panel-title"><%=  nom+"  "+prenom %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"><img alt="User Pic" src="../profile.png" class="img-circle img-responsive"> </div>

                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Nom:</td>
                        <td><%= nom %></td>
                      </tr>
                      <tr>
                        <td>Prénom</td>
                        <td><%= prenom %></td>
                      </tr>
                      <tr>
                        <td>Adresse</td>
                        <td><%= adresse %></td>
                      </tr>

                         <tr>
                             <tr>
                        <td>Numéro Téléphone</td>
                        <td><%= phone %></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="#"><%= email %></a></td>
                      </tr>
                        <td>Role</td>
                        <td><%= role %></td>

                      </tr>

                    </tbody>
                  </table>

                  <a href="/users/edit/<%= idUser %>" class="btn btn-primary">Modifier mon profile</a>
                  <a href="#" class="btn btn-primary">Modifier image</a>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="/users/edit/<%= idUser %>" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>
              <% }  %>
          </div>
        </div>
      </div>
    </div>
    <% include ../layout/footer  %>