<% include ../front/inc/top.ejs%>
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="pageTitle">
          Mon profile
        </h2>
      </div>

    </div>
  </div>
</section>

<div class="container">
    <div class="row">
    <div class="col-md-5  toppad  pull-right col-md-offset-3 ">

<p class=" text-info"></p>
    </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
        <div class="panel panel-info">
          <div class="panel-heading">
          <% if (isAuthenticated){ %>
            <h3 class="panel-title"><%=  nom+"  "+prenom %></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3 col-lg-3 " align="center"><img alt="User Pic" src="/images/profile.png" class="img-circle img-responsive"> </div>
              <div class=" col-md-9 col-lg-9 ">
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td>Nom:</td>
                      <td><%= nom %></td>
                    </tr>
                    <tr>
                      <td>Prénom</td>
                      <td><%= prenom %></td>
                    </tr>
                    <tr>
                      <td>Adresse</td>
                      <td><%= adresse %></td>
                    </tr>

                       <tr>
                           <tr>
                      <td>Numéro Téléphone</td>
                      <td><%= phone %></td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td><a href="#"><%= email %></a></td>
                    </tr>
                      <td>Profile</td>
                      <td><%= role %></td>

                    </tr>

                  </tbody>
                </table>
                <div class="row">
                  <div class="col-lg-12 marginbot10 ">
                    <a href="/users/edit/<%= idUser %>" class="btn btn-block btn-primary">Modifier mon profile</a>
                  </div>
                  <div class="col-lg-12 marginbot10">
                    <a href="/users/edit_pwd/<%= idUser %>" class="btn btn-block btn-primary">Modifier mon mot de passe</a>
                  </div>
                  <% if(role==='ENTREPRISE'){%>
                  <div class="col-lg-12">
                    <a href="/users/monEntreprise/<%= idUser %>" class="btn btn-block btn-primary">Infos d'entreprise </a>
                  </div>
                  <%}%>
                <div class="col-lg-12">
                    <a  onclick="deleteProfile(<%= idUser %>)" class="btn btn-block btn-danger">Supprimer mon profile</a>
                </div>
                </div>
              </div>
            </div>
          </div>
               <div class="panel-footer">
                      <span class="pull-right">
                      </span>
                  </div>
            <% }  %>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
    function deleteProfile(id){
        if(confirm('Voulez vous vraiment supprimer votre profile ?')){
            if(confirm('En cliquant sur Ok votre compte sera definitivement suprimer d site web. Voulez-vous toujours supprimer ?')) {
                window.location.href = "/users/deleteProfile/" + id;
            }
        }
    }
</script>
<% include ../front/inc/bottom.ejs  %>